<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Not Found</title>
    <link rel="stylesheet" href="/static/bulmaswatch-materia.css">

    <style>
        .hero.is-primary {
            background: rgb(63, 97, 181);
            background: linear-gradient(135deg, rgba(63, 97, 181, 1) 25%, rgba(63, 81, 181, 1) 50%, rgba(75, 63, 181, 1) 75%);
        }

        html {
            overflow: auto;
        }
    </style>

</head>
<body>

<section class="hero is-primary is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-1">Not Found</h1>
            <div class="buttons is-centered"><a href="/" target="_blank" class="button is-primary is-inverted">Create
                New Lock</a></div>
        </div>
    </div>
</section>

</body>
</html>