<html style="overflow: auto;">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css" rel="stylesheet" type="text/css"/>
    <style>
        .buttons {
            padding-top: .5rem;
        }

        .notification {
            margin-right: 1rem;
        }
    </style>
</head>

<body id="body">
<div id="container">
    <h1 id="header" class="title is-4 is-hidden">Enter the password</h1>
    <form id="form" class="field has-addons">
        <div class="control">
            <input id="password" class="input" type="text" placeholder="Enter the password" autocomplete="off">
        </div>
        <div class="control">
            <button id="submit" type="submit" class="button is-info">
                Submit
            </button>
        </div>
    </form>
    <div id="failure" class="notification is-danger is-light is-hidden content">
        Wrong answer. Try again!
    </div>
    <div id="success" class="notification is-success is-light is-hidden content"></div>
</div>
<script>
    const name = "{{ name }}";

    function getUrlVars() {
        var vars = {};
        var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function (m, key, value) {
            vars[key] = value;
        });
        return vars;
    }

    const submit = document.getElementById('submit');
    const password = document.getElementById("password");
    const failure = document.getElementById("failure");
    const success = document.getElementById("success");

    const body = document.getElementById('body');
    const container = document.getElementById('container');
    const header = document.getElementById('header');

    const form = document.getElementById('form');
    form.addEventListener('submit', logSubmit);

    const params = getUrlVars();

    if (params['background'] && params['background'] != "unset") {
        body.style.background = decodeURIComponent(params['background'])
    }

    if (params['box'] == 'true') {
        container.style.height = "calc(100vh - 4rem)";
        container.style.overflow = "auto";
        container.classList.add("box");
        body.style.padding = "1rem"
    } else {
        body.style.height = "100vh"
    }

    if (params['header'] == 'true') {
        header.classList.remove("is-hidden")
    }


    function logSubmit(e) {
        if (e)
            e.preventDefault();

        submit.classList.add("is-loading");

        let request = new XMLHttpRequest();
        request.open('GET', '/api/check?name=' + name + '&password=' + password.value);
        request.send();

        request.onload = () => {

            if (request.status == 200) {
                console.log(request.response);
                let response = JSON.parse(request.response);

                if (request.response != 'false') {
                    success.innerHTML = response["success"];

                    success.classList.remove("is-hidden");
                    failure.classList.add("is-hidden");
                } else {
                    failure.classList.remove("is-hidden");
                    success.classList.add("is-hidden");
                }

            }
            submit.classList.remove("is-loading")
        }
    }
</script>
</body>
</html>